:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #1f2937;
  background-color: #f3f4f6;
}

a {
  font-weight: 500;
  color: #2563eb;
  text-decoration: inherit;
}

a:hover {
  color: #1d4ed8;
}

body {
  margin: 0;
  min-height: 100vh;
}

#app {
  min-height: 100vh;
}

button {
  cursor: pointer;
}
